<div class= "container">
  <div class= "row">
    <div class= "col-md-8 offset-md-2">
      <ul class= "list-unstyled">
        <% @users.each do |user| %>
          <% if user.profile %>
            <li>
              <div class = "card row text-center <%= cycle('grey-bg', '') %>">
                <div class= "col-sm-4">
                  <% if user.profile.avatar %>
                    <%= link_to user do %>
                      <%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
                    <% end %>
                  <% end %>
                </div>
                <div class= "index-usernames">
                  <%= link_to user do %>
                    <h2><%= user.profile.user_name %></h2>
                    <% if user.plan_id == 2 %>
                     <span class="badge badge-pill badge-danger">PRO</span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>