<div class= "container profile-page">
  <div class= "row">
    <div class="col-md-3">
     <%= image_tag @user.profile.avatar.url, class: "avatar-show-img" %>
    </div>
    
    <div class="col-md-6">
      <h1><%= @user.profile.user_name %></h1><br>
      <%= @user.profile.first_name %><%= @user.profile.last_name %>
      <div class= "card profile-description">
        <%= @user.profile.description %>
      </div>
    </div>
  </div>
</div>