<!DOCTYPE html>
<html>
  <head>
    <title>XD <%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa fa-home fa-lg"></i>
        <% end %>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li><%= link_to "Community", temp_path, class: "nav-item nav-link" %></li>
            <li><%= link_to "Blog", posts_path, class: "nav-link" %></li>
          </ul>
          
          
          
          
          <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" href="http://website.com/profile" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-th"></i></i></a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                
              <% if current_user.profile %>
                <li class="dropdown-item"><h6>Welcome, </h6>
                <%= current_user.profile.user_name %></h6></li>
                <%= link_to "Profile", user_path(current_user.id),  class: "dropdown-item" %>
              <% else %>
                <li class="dropdown-item"><h6>Welcome, </h6>
                <%= current_user.email %></h6></li>             
                <li><%= link_to "Create Profile", new_user_profile_path(user_id: current_user.id), class: "dropdown-item" %></li>
              <% end %>
              <div class= "p-2"><i class="fa fa-glass"></i>blah</div>
              <div class= "p-2">blahblahblah</div>
              <div class="dropdown-divider"></div>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
          
          <% else %>
          <ul class="navbar-nav">
            <li><%= link_to "Sign Up", signup_path, class: "nav-link" %></li>
            <li><%= link_to user_session_path, class: "nav-link" do %>  
              <i class="fa fa-sign-in fa-lg"></i> Sign In</li>
            <% end %>
          </ul>
        
          <% end %>
          
          
          
          
          
          </div>
        </div>
      </div>
    </nav>
 

    
    <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>

        <%= yield %>

  </body>
</html>
